body{
    background-image: url('news1.jpg');
    background-repeat: none;
    margin:0%;
    padding: 8% 20%;
}
.a1{
    background-color: white;
    padding: 0 38%;
    text-align: center;
    margin: 0%;
}
.x{
    float:left;
}